{% extends "base.html" %}

{% block container %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue"
        {% if user.role.name == "client" %}
            style="display: none;"
        {% endif %}
        >
            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
            {% include "bars/sidebar.html" %}
        </div>

        <div class="main-panel"
        {% if user.role.name == "client" %}
            style="float: none; width: 100%;"
        {% endif %}
        >
            {% include "bars/navbar.html" %}
            <div class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        v0.0.1
                    </p>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}