{% extends "body.html" %}

{% block container %}
    <div class="wrapper">g
        <div class="sidebar" data-color="blue">
            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
            {% include "blocks/sidebar.html" %}
        </div>

        <div class="main-panel">
            {% include "blocks/navbar.html" %}
            <div class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% include "blocks/footer.html" %}
        </div>
    </div>
{% endblock %}